.body-page{
    background-color: black;
}

.detail{
    margin-top: 50px;
}

.review{
    width: 500px;
    height: 180px;
}

.button-review{
    width: 500px;
}

.nav-utama {
    background-color: rgb(25, 26, 26);
  }
  
  a:link, a:visited {
    border: none;
    color: #1df0f0;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    display: inline;
  }
  
  a:hover, a:active {
   background-color: rgb(46, 45, 45);
  }

  .card-item {
    background-color: rgb(25, 26, 26); 
    color: azure; 
    margin-top: 50px;
  }
.isi-card {
    background-color: rgb(25, 26, 26);
    text-align: justify;
}
  .text-head-Review {
    color: azure;
    text-transform: capitalize;
    font-family: Arial;
  }
  .footer {
    color: azure;
    text-align: center;
    background-color: rgb(25, 26, 26);
  }