.daftar-body {
  background-color: white;
}

.card-film {
    margin-top: 50px;
}

.film {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.daftar-foot {
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-utama {
  text-transform: uppercase;
}
 
  .container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 5px 15px;
    gap:20px;
    position: relative;
  }
  
  .card {
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
  
  }
 
  @media screen and (min-width: 550px) {
    .card {
    grid-column: span 4;
    }
  }
  
  
  @media screen and (min-width: 760px) {

    .card {
    width: 200px;
    margin: 0 5px;
  }
  }