.daftar-body {
  background-color: black;
}
.nav-utama {
  background-color: rgb(25, 26, 26);
}

a:link, a:visited {
  border: none;
  color: #1df0f0;
  padding: 15px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  display: inline;
}

a:hover, a:active {
 background-color: rgb(46, 45, 45);
}

.card-film {
    margin-top: 100px;
    margin-bottom: 100px;
}

.item-konten {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-transform: capitalize;
  text-align: justify;
}

.footer {
  color: azure;
  text-align: center;
  background-color: rgb(25, 26, 26);
  margin-top: 100px;
}


  .container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 5px 15px;
    gap:20px;
    position: relative;
  }
  
  .card {
    width: 100%;
    height: auto;
    grid-column: span 8;
    margin: 10px 0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
  
  }
 
  @media screen and (min-width: 550px) {
    .card {
    grid-column: span 4;
    }
  }
  
  
  @media screen and (min-width: 760px) {

    .card {
    width: 200px;
    margin: 0 5px;
  }
  }